<nav class="p-9 d-flex align-items-center">
  <h2 class="mr-9 font-weight-bold">Assignment</h2>
  <div class="dropdown">
    <button class="btn font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="align-middle">All Courses</span>
      <span class="material-icons align-middle">keyboard_arrow_down</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <ul class="d-flex ml-auto list-unstyled">
    <li class="mr-6">
      <a href="#" class="text-dark">
        <span class="material-icons align-middle">search</span>
      </a>
    </li>
    <li>
      <a href="#" class="text-dark">
        <span class="material-icons align-middle">notifications_active</span>
      </a>
    </li>
  </ul>
</nav>