.card {
  &__thumbnail {
    width: 2.5rem;
    height: 2.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
  &__content {
    flex: 1;
  }
  &__text {
    font-size: 0.875rem;
    line-height: 21px;
  }
  &__tag {
    font-family: $font-family-monospace;
    background-color: $secondary;
    color: $primary;
  }
}

.file {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  background-color: $secondary;
  border-radius: 2px;
  cursor: pointer;
  &__label {
    margin-bottom: 0;
    font-weight: bold;
    cursor: pointer;
  }
  &__input {
    display: none;
  }
}

.card-reply {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid $third;
  &__header {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: $secondary;
    border-bottom: 1px solid $third;
    font-weight: bold;
  }
  &__content {
    width: 100%;
    min-height: 12.5rem;
    padding: 1rem 1.5rem;
    border: 0;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  &__footer {
    padding: 1rem 1.5rem;
    background-color: $white;
  }
}